
.vs/Projet_Synthese/v15/Browse.VC.opendb
Projet_Synthese/Debug/vc141.pdb
Projet_Synthese/Debug/vc141.idb
Projet_Synthese/Debug/Triangle.obj
Projet_Synthese/Debug/Projet_Synthese.log
Projet_Synthese/Debug/FormeGeoSimple.obj
Projet_Synthese/Debug/FormeGeo.obj
Projet_Synthese/Debug/Cercle.obj
